.carousel-caption {
    width: 360px;
    left: 60%;
    top: 80% !important;
    transform: translateY(-90%);
    text-align: left;
    bottom: initial;
} 
.btn-secondary {
    color: rgb(white);
    background-color: #e9c8b8;
    border-radius: 0;
    border-color: #ffe5d9;
    box-shadow: 1px 2px 5px #9f9f9f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    margin-top: 3%;
    width: auto;

}
.btn-secondary:hover {
    color: rgb(157, 129, 137);
    background-color: white;
    border-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    margin-top: 3%;
}
.btn-secondary:active {
    background-color: #e9c8b8 !important;
    border-color: #ffe5d9 !important;
}

.carroselB {
    padding-top: 60px;
}

@media screen and (max-width: 1544px) {
    .carroselB {
        padding-top: 58px;
    }

    .carousel-caption {
        top: 83% !important;
    }
}

@media screen and (max-width: 912px) {
    .carroselB {
        padding-top: 6%;
    
    }

    .carousel-caption {
        top: 87% !important;
        left: 55%;

    }
} 

@media screen and (max-width: 700px) {
    .carroselB {
        padding-top: 58px;
    }
    .carousel-caption {
        top: 88% !important;
        left: 61%;

    } 
    .btn-secondary {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 482px) {
    .carroselB {
        padding-top: 57px;
    }

    .carousel-caption {
        top: 96% !important;
        left: 56%;

    }
    .btn-secondary {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 340px) {
    .btn-secondary {
        font-size: 11px !important;
    }

    .carroselB {
        padding-top: 57px;
    }
    .carousel-caption {
        left: 54%;
    }
    
} 
@media screen and (max-width: 300px) {
    .carroselB {
        padding-top: 55px;
    }
    .carousel-caption {
        left: 54%;
    }
    
} 

@media screen and (max-width: 280px) {
    .carousel-caption {
        top: 99% !important;
    }
    
} 



