.header ul {
    display: flex;
    height: 10%;
    margin-top: 1%;
    padding: 0;
    margin-right: 6%;

}

.header li {
    display: flex;
    font-size: 25px;
    list-style: none;
    margin-right: 30%;
}

.header a {
    color: rgb(255, 229, 217);
    text-decoration: none;
    }
    
.header a:hover {
    color: rgb(244, 172, 183);
    
    }

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(157, 129, 137);
    width: 100%;
    z-index: 2;
    /* position: fixed;
    top:0; */
}


@media screen and (max-width: 1024px) {

    
    .header ul {
        justify-content: flex-end;
        margin: 1%;
    }
    .header li {
        display: flex;
        font-size: 25px;
        list-style: none;
        margin-right: 28%;
    }

}