.aboutSection {
    display: flex;
    justify-content: space-evenly;
    margin: 6%;

}

.card {
    border: none;
}

.card-title {
    color: rgb(157, 129, 137);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.aboutText {
    color: rgb(157, 129, 137);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: justify;
    margin-top: 3%;
}

.btn {
    color: rgb(white);
    background-color: rgb(244, 172, 183);
    border-color: rgb(244, 172, 183);
    box-shadow: 1px 2px 5px #9f9f9f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-top: 3%;

}
.btn:hover {
    color: rgb(157, 129, 137);
    background-color: white;
    border-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-top: 3%;
}
.btn:active {
    background-color: #D15E95;
    border-color: white;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .aboutSection {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 6%;
    }
    .aboutImage {
        width: 70%;
    }
    .aboutImages {
       display: flex;
       justify-content: center;
    }

    .card-body{
        width: 160%;
    }

    .card {
        margin-right: 30%;
    }
}

@media screen and (max-width: 414px) {
    .card {
        margin-right: 50%;
    }
    .card-body {
        width: 200%;
    }
}

@media screen and (max-width: 280px) {
    .card {
        margin-right: 60%;
    }
    .card-body {
        width: 223%;
    }
}